body {
  font-family: sans-serif;
  margin: 0;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

ul > li {
  display: inline-block;
  margin-right: 5px;
}
canvas {
  background-color: #ccc;
}

video {
  width: 400px;
  height: auto;
}
/*  Style  */
.container {
  width: 900px;
  margin: auto;
  margin-top: 40px;
}

nav {
  margin-bottom: 30px;
}

nav a {
  color: #333;
  text-decoration: underline;
}


button {
  padding: 5px 10px;
  background: #FFF;
  border: 1px solid #999;
  cursor: pointer;
}

/*  Screen  */
.video-block {
  float: left;
}
.video-block button {
  float: left;
  clear: both;
  margin-top: 30px;
}
.video {
  float: left;
  width: 400px;
}
.frame {
  float: right;
  width: 300px;
  height: 260px;
}

/* Peer Connection */

button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
    margin: 0;
}

video {
  height: 225px;
  margin: 0 0 20px 0;
  vertical-align: top;
  width: calc(50% - 12px);
  background: #EEE;
}

video#localVideo {
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 400px) {
  button {
    width: 83px;
  }

  button {
    margin: 0 11px 10px 0;
  }


  video {
    height: 90px;
    margin: 0 0 10px 0;
    width: calc(50% - 7px);
  }
  video#localVideo {
    margin: 0 10px 20px 0;
  }

}