body {
  font-family: sans-serif;
  margin: 0;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

ul > li {
  display: inline-block;
  margin-right: 5px;
}
canvas {
  background-color: #ccc;
}

video {
  width: 400px;
  height: auto;
}
/*  Style  */
.container {
  width: 900px;
  margin: auto;
  margin-top: 40px;
}

nav {
  margin-bottom: 30px;
}

nav a {
  color: #333;
  text-decoration: underline;
}


button {
  padding: 5px 10px;
  background: #FFF;
  border: 1px solid #999;
  cursor: pointer;
}

/*  Screen  */
.video {
  float: left;
  width: 120px;
}
.frame {
  float: right;
  width: 200px;
  height: 160px;
}